@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.card{
    
    text-align: center;
    font-size: 60px;
    margin:auto;
    height: 400px;
    width: 250px;
    padding: 20px;
    padding-top: 160px;
    border-radius:10px ;
    border: 1px solid black;
    position: relative;
     &:before {
        position: absolute;
        top:15px;
        left:15px;
        font-size: 75px;
    };
     &:after {
        position: absolute;
        bottom: 15px;
        right:15px;
        font-size: 75px;
        transform: rotate(180deg);
    };
     &.spade:before, &.spade:after{content: '\2660';};
     &.clubs:before, &.clubs:after{content: '\2663';};
     &.hearts:before, &.hearts:after{content: '\2665'; color: red};
     &.diams:before, &.diams:after{content: '\2666' ; color: red;};
}

.mybutton {
    display: flex;
    margin: auto;
    background-image: linear-gradient(to right, white , yellow, pink);

    border-radius: 20%;
}
